body {
  background-color: #c2b280;
  margin: 0px;
  text-align: center;
}

.header {
  background-color: #ffffff;
  text-align: center;
}

.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title {
  display: inline;
  font-size: 18px;
  color: #302579;
  font-family: "Montserrat";
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.instructions-number {
  padding-right: 25px;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: bold;
  color: #302579;
}

.instructions-text {
  padding: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.shell-row {
  text-align: center;
  white-space: nowrap;
}

.shell-container {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 250px;
  max-width: 100%;
  height: auto;
}

.start-row {
  background-color: #ffcc57;
  color: #302579;
  padding: 25px 10px 20px 10px;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: bold;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.current-streak {
  color: #ffffff;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.streak-counter {
  color: #ffffff;
  padding: 10px;
  font-size: 50px;
}

table.counter {
  margin-left: auto;
  margin-right: auto;
}
