body {
  background-color: #c2b280;
  margin: 0px;
}

.header {
  background-color: #ffffff;
  text-align: center;
}

.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title {
  display: inline;
  font-size: 18px;
  color: #302579;
  font-family: "Indie Flower";
}

.instructions-row {
  margin: auto;
  width: 400px;
}

.instructions-number {
  padding-right: 25px;
  font-family: "Indie Flower";
  font-size: 36px;
  font-weight: bold;
  color: #302579;
}

.instructions-text {
  padding: 10px;
  font-family: "Indie Flower";
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.shell-container {
  cursor: pointer;
  padding: 10px;
  height: 250px;
  width: 250px;
}
